form{
    background-color: #8FC078;
    padding: 10%;
    border-radius: 10%;
    text-align: center;
    margin-left: 50%;
    margin-right: 5%;
    margin-top: 10%;
    
    
}

button{
    background-color:#E3C578;
}