button{
    background-color: #7dc9d3f1;
    display: block;
    margin: 10px ;
    border-radius: 20px;
    height: 30px;
    width: 95%;
    text-align: center;
    border-style: none;
    margin-bottom: 30px;
    color: #ffffff;

}

nav{
    background-color: rgba(171, 211, 238, 0.404);
    width: 20%;
    height: 100vh;
    padding:10px;
    padding-top: 30px;
    margin-right: 80%;
    margin-left: 1%;
    position: absolute;
    overflow: auto;
  }
  button:hover{
    color: #050505;
    background-color: #fdfdfd ;
  } 
  
  .logout{
    margin-top: 80px;
    width: 30%;
    align-items: center;
    margin-left: 30%;
  }

  

  button.active{
    color: #ffffff;
    background-color: #28aec0;
  } 

  h5{
    color:#28aec0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    text-align: center;
    padding: 5%;
  }