<nav *ngIf="auth.user | async as user">
    <h5>Bienvenido , {{user.email }}!</h5>
    <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</button>
    <button routerLink="/agregar-clientes" routerLinkActive="active">Agregar clientes</button>
    <button routerLink="/listar-clientes" routerLinkActive="active">Ver clientes</button>
    <button routerLink="/precios" routerLinkActive="active">Precios</button>
    <button routerLink="/inscripcion" routerLinkActive="active">Inscripcion</button>
    <button routerLink="/horarios" routerLinkActive="active">Horarios</button>
    <button  class="logout"   (click)="logout()">Salir</button>
</nav>


