<div class="container col-sm-8">
    <h2>HORARIOS NATACIÓN 2022</h2>
    <p>
        Cada clase tiene una duración de 1h.Los horarios disponibles son las siguientes:
    </p>
    <table>
        <tr>
            <th>Turno</th>
            <th>Hora</th>
            <th>Días</th>
        </tr>
        <tr>
            <td rowspan="6">Mañana</td>
            <td>6:00 - 7:00</td>
            <td rowspan="3">Lunes a Viernes + Sábado</td>
        </tr>
        <tr>
            <td>7:00 - 8:00</td>
        </tr>
        <tr>
            <td>8:00 - 9:00</td>
        </tr>
        <tr>

            <td>9:00 - 10:00</td>
            <td rowspan="8">Lunes a Viernes</td>
        </tr>
        <tr>
            <td>10:00 - 11:00</td>
        </tr>
        <tr>
            <td>11:00 - 12:00</td>
        </tr>
        <tr>
            <td rowspan="5">Tarde/Noche</td>
            <td>12:00 - 13:00</td>
        </tr>
        <tr>
            <td>14:00 - 15:00</td>
        </tr>
        <tr>
            <td>18:00 - 19:00</td>
        </tr>
        <tr>
            <td>19:00 - 20:00</td>
        </tr>
        <tr>
            <td>20:00 - 21:00</td>
        </tr>
    </table>
</div>