<div class="container mt-5">
    <form action="">
        <div [formGroup]="formularioCliente" class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Nombre </label>
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Agregar nombre">
                </div>
                <div *ngIf="isRequiredField('nombre')" class="text-start text-danger fw-bold mt-1 error">
                    El nombre es requerido
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Apellido </label>
                    <input type="text" class="form-control" formControlName="apellido" placeholder="Agregar apellido">
                </div>
                <div *ngIf="isRequiredField('apellido')" class="text-start text-danger fw-bold mt-1 error">
                    El apellido es requerido
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Email </label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Agregar email">
                </div>
                <div *ngIf="isRequiredField('email')" class="text-start text-danger fw-bold mt-1 error">
                    Correo electrónico requerido
                </div>
                <div *ngIf="isValidEmail()" class="text-start text-danger fw-bold mt-1 error">
                    Ingrese un correo válido
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Celular </label>
                    <input type="tel" class="form-control" formControlName="cel" placeholder="90022012">
                </div>
                <div *ngIf="isRequiredField('cel')" class="text-start text-danger fw-bold mt-1 error">
                    Número de celular requerido
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">DNI </label>
                    <input type="text" class="form-control" formControlName="dni" placeholder="04431450">
                </div>
                <div *ngIf="isRequiredField('dni')" class="text-start text-danger fw-bold mt-1 error">
                    El DNI es requerido
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Imagen {{porcentajeSubida}} %</label>
                    <input type="file" (change)="subirimg($event)" class="form-control" formControlName="imgurl" placeholder="Agregue su imagen">
                </div>
                <div *ngIf="isRequiredField('imgurl')" class="text-start text-danger fw-bold mt-1 error">
                    La imagen es requerida
                </div>
            </div>
        </div>

        <button class="btn btn-primary" (click)="agregar()" [disabled]="formularioCliente.invalid">Agregar</button>

    </form>
</div>