form{
    background-color: #78b8c0;
    padding: 10%;
    border-radius: 10%;
    text-align: center;
    margin-left: 50%;
    margin-right: 5%;
    margin-top: 5%;
    
    
}

button{
    background-color:#bce9e1;
}